 .u-section-1 {
  background-image: url("images/32208119-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-text-1 {
  margin: 17px 70px 0;
}

.u-section-1 .u-countdown-1 {
  margin: 30px auto 0;
  padding: 50px 382px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 279px;
}

.u-section-1 .u-image-2 {
  width: 72px;
  height: 72px;
  margin: -71px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -55px 600px 0 360px;
}

.u-section-1 .u-image-3 {
  width: 71px;
  height: 71px;
  margin: -54px auto 0 536px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 343px 0 617px;
}

.u-section-1 .u-image-4 {
  width: 71px;
  height: 71px;
  margin: -55px auto 0 797px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -54px 871px 0 142px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px 82px 0 878px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 19px 861px 0 142px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -4px auto 0 142px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: -5px auto 0 142px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: -84px 680px 0 360px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: -32px 353px 0 617px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 auto 0 617px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: -5px 432px 0 617px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: -91px 92px 0 878px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 0 auto 0 360px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: 27px auto 0 360px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: -64px 689px 0 360px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  margin: -59px auto 0 878px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  margin: 27px auto 0 878px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  margin: -64px 171px 0 878px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: -8px auto 0 142px;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  margin: -24px 455px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 72px;
  height: 72px;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-image-6 {
  width: 71px;
  height: 71px;
  margin: -72px auto 0 279px;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 600px 0 360px;
}

.u-section-1 .u-image-7 {
  width: 71px;
  height: 71px;
  margin: -54px auto 0 536px;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 343px 0 617px;
}

.u-section-1 .u-image-8 {
  width: 71px;
  height: 71px;
  margin: -55px auto 0 797px;
}

.u-section-1 .u-text-24 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 82px 0 878px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -38px 871px 0 142px;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  margin: 19px 861px 0 142px;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  margin: -4px auto 0 142px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  margin: -5px auto 0 142px;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  margin: -84px 680px 0 360px;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  margin: -32px 353px 0 617px;
}

.u-section-1 .u-text-31 {
  font-size: 1.25rem;
  margin: -32px 92px 0 878px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  margin: 0 auto 0 617px;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  margin: -5px 391px 0 617px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  margin: -4px 437px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  margin: -87px auto 0 360px;
}

.u-section-1 .u-text-36 {
  font-size: 1.25rem;
  margin: 27px auto 0 360px;
}

.u-section-1 .u-text-37 {
  font-size: 1.25rem;
  margin: -64px 689px 0 360px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.25rem;
  margin: -59px auto 0 878px;
}

.u-section-1 .u-text-39 {
  font-size: 1.25rem;
  margin: 27px auto 0 878px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-40 {
  font-size: 1.25rem;
  margin: -64px 128px 0 878px;
}

.u-section-1 .u-text-41 {
  font-size: 1.25rem;
  margin: -7px auto 7px 142px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 33px;
    margin-left: 82px;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: -28px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 202px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 488px;
    margin-left: 274px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -55px;
    margin-right: 422px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -55px;
    margin-right: 236px;
    margin-left: 524px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 174px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -55px;
    margin-right: 741px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -10px;
    margin-left: 770px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -1px;
    margin-right: 731px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 72px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 1px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -96px;
    margin-right: 567px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 246px;
    margin-left: 524px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -1px;
    margin-right: 284px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-right: 325px;
    margin-left: 524px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -95px;
    margin-right: 0;
    margin-left: 770px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 1px;
    margin-left: 276px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 32px;
    margin-left: 276px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 576px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -64px;
    margin-right: 121px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 29px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 79px;
    margin-left: 770px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 4px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -36px;
    margin-right: 348px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -50px;
    margin-right: 526px;
    margin-left: 274px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -58px;
    margin-right: 422px;
    margin-left: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -51px;
    margin-right: 243px;
    margin-left: 517px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 174px;
    margin-left: auto;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-right: -14px;
    margin-left: 774px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -40px;
    margin-right: 741px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 14px;
    margin-right: 731px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 0;
    margin-left: 72px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: -4px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -92px;
    margin-right: 567px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: -35px;
    margin-right: 253px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: -29px;
    margin-right: 14px;
    margin-left: 756px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: -3px;
    margin-right: 374px;
    margin-left: auto;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 1px;
    margin-right: 292px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 0;
    margin-right: 333px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -94px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-left: 273px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: -61px;
    margin-right: 576px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: -62px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: -59px;
    margin-right: 27px;
    margin-left: 756px;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-top: -4px;
    margin-bottom: 55px;
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 6px;
    margin-left: -162px;
    margin-right: -162px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 177px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -278px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 147px;
    margin-right: 391px;
    margin-left: 163px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 147px;
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -51px;
    margin-right: 376px;
    margin-left: 164px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 152px;
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -667px;
    margin-right: 429px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 574px;
    margin-right: 411px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -607px;
    margin-right: 422px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 1px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-left: 161px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 100px;
    margin-right: 456px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 182px;
    margin-right: 386px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 167px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 465px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 107px;
    margin-right: 387px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -416px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 163px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 487px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 352px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 24px;
    margin-right: 387px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -60px;
    margin-right: 462px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -603px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 374px;
    margin-right: auto;
    margin-left: 162px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -598px;
    margin-right: 258px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 134px;
    margin-right: 257px;
    margin-left: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: -55px;
    margin-right: 112px;
    margin-left: 469px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 146px;
    margin-right: 259px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -54px;
    margin-right: 77px;
    margin-left: 463px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 152px;
    margin-right: 257px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 118px;
    margin-left: 469px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -649px;
    margin-right: 118px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 0;
    margin-right: 108px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 7px;
    margin-right: 150px;
    margin-left: auto;
  }

  .u-section-1 .u-text-28 {
    margin-top: 0;
    margin-right: 179px;
    margin-left: auto;
  }

  .u-section-1 .u-text-29 {
    margin-top: 102px;
    margin-right: 157px;
    margin-left: 463px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 182px;
    margin-right: 83px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 167px;
    margin-right: 83px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-32 {
    margin-top: -199px;
    margin-right: 205px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -2px;
    margin-right: 122px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -308px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-1 .u-text-36 {
    margin-top: 30px;
    margin-right: 159px;
    margin-left: auto;
  }

  .u-section-1 .u-text-37 {
    margin-top: -64px;
    margin-right: 162px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 351px;
    margin-right: 67px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 26px;
    margin-right: 175px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -61px;
    margin-right: 97px;
    margin-left: 469px;
  }

  .u-section-1 .u-text-41 {
    margin: -603px 174px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 0;
    margin-left: -252px;
    margin-right: -252px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 98px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -218px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 99px;
    margin-right: 344px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 97px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -53px;
    margin-right: 286px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 106px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -495px;
    margin-right: 337px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 421px;
    margin-right: 320px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: -448px;
    margin-right: 329px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-left: 73px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: -3px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: 80px;
    margin-right: 393px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: 118px;
    margin-right: 299px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-left: 71px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-right: 378px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: 76px;
    margin-right: 297px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-top: -299px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: 25px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: -51px;
    margin-right: 384px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-top: 250px;
    margin-right: auto;
    margin-left: 71px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-top: 32px;
    margin-right: auto;
    margin-left: 73px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-top: -55px;
    margin-right: 376px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: -460px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1rem;
    margin-top: 282px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -441px;
    margin-right: 198px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 74px;
    margin-right: 199px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
    margin-top: -51px;
    margin-right: 53px;
    margin-left: 348px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 100px;
    margin-right: 199px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1rem;
    margin-top: -52px;
    margin-right: 14px;
    margin-left: 346px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 102px;
    margin-right: 199px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1rem;
    margin-top: -48px;
    margin-right: 60px;
    margin-left: 347px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1rem;
    margin-top: -474px;
    margin-right: 65px;
    margin-left: 348px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 55px;
    margin-left: 348px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 116px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1rem;
    margin-top: -3px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
    margin-top: 74px;
    margin-right: 92px;
    margin-left: 348px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1rem;
    margin-top: 122px;
    margin-right: 26px;
    margin-left: 344px;
  }

  .u-section-1 .u-text-31 {
    font-size: 1rem;
    margin-top: 127px;
    margin-right: 29px;
    margin-left: 341px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1rem;
    margin-top: -153px;
    margin-right: 157px;
  }

  .u-section-1 .u-text-33 {
    font-size: 1rem;
    margin-top: 1px;
    margin-right: 65px;
    margin-left: 344px;
  }

  .u-section-1 .u-text-34 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-35 {
    font-size: 1rem;
    margin-top: -230px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1rem;
    margin-top: 25px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-37 {
    font-size: 1rem;
    margin-top: -51px;
    margin-right: 103px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-38 {
    font-size: 1rem;
    margin-top: 256px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-39 {
    font-size: 1rem;
    margin-top: 31px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-40 {
    font-size: 1rem;
    margin-top: -55px;
    margin-right: 79px;
    margin-left: 344px;
  }

  .u-section-1 .u-text-41 {
    font-size: 1rem;
    margin-top: -461px;
    margin-right: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -48px;
    margin-right: auto;
    margin-left: -343px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 108px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -227px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 104px;
    margin-right: 139px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 101px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -49px;
    margin-right: 91px;
    margin-left: 69px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 96px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 140px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 423px;
    margin-right: 121px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -443px;
    margin-right: 127px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-left: 77px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 73px;
    margin-right: 182px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 126px;
    margin-right: 101px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1px;
    margin-right: 158px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -3px;
    margin-right: 209px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 77px;
    margin-right: 101px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -305px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 69px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 219px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 254px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 25px;
    margin-right: 134px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -50px;
    margin-right: 187px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -453px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 272px;
    margin-left: 70px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 157px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 80px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: -45px;
    margin-right: 91px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 108px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    width: 193px;
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 111px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 134px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -502px;
    margin-right: 140px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 6px;
    margin-right: 140px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 2px;
    margin-right: 190px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 82px;
    margin-right: 170px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 137px;
    margin-right: 100px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 100px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-32 {
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 0;
    margin-right: 137px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-34 {
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -241px;
    margin-right: 170px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-36 {
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 183px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 267px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 84px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 166px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-41 {
    margin-top: -479px;
    margin-right: 213px;
  }
}